<div class="view-decks-container">
    <div class="list-container">
      <p class="dialog-text">Voici les decks disponibles :</p>
      <ul class="choices">
        <li *ngFor="let deck of decks" (click)="selectDeck(deck)">
          <span class="arrow">➤</span>
          <span class="label">{{ deck.name }}</span>
        </li>
      </ul>
    </div>
  
    <app-show-deck-modal
      *ngIf="selectedDeck"
      [deck]="selectedDeck"
      (close)="closeModal()"
    ></app-show-deck-modal>
  </div>