<div class="edit-deck-container">

  <div class="list-container">
    <p class="dialog-text">Voici les decks disponibles :</p>
    <ul class="choices">
      <li
        *ngFor="let deck of decks"
        (click)="selectDeck(deck)"
        [class.selected]="deck === selectedDeck"
      >
        <span class="arrow">➤</span>
        <span class="label">{{ deck.name }}</span>
        <div class="stats">
          Cartes : {{ deck.cards.length }}/5 |
          Valeur : {{ getDeckValue(deck) }}/30
        </div>
      </li>
    </ul>
  </div>

  <app-edit-deck-panel
    *ngIf="selectedDeck"
    [deck]="selectedDeck"
    (close)="closePanel()"
  ></app-edit-deck-panel>
</div>
