<div class="welcome-bg">
  <div class="welcome-container">
    <h2>Inscription</h2>
    <form (ngSubmit)="onSubmit()" #signUpForm="ngForm">
      <input
        type="text"
        name="name"
        [(ngModel)]="newUser.name"
        placeholder="Nom"
        required
      />
      <input
        type="text"
        name="login"
        [(ngModel)]="newUser.login"
        placeholder="Identifiant"
        required
      />
      <input
        type="password"
        name="password"
        [(ngModel)]="newUser.password"
        placeholder="Mot de passe"
        required
      />
      <button
        type="submit"
        class="btn"
        [disabled]="!signUpForm.form.valid"
      >
        S’inscrire
      </button>
    </form>
    <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
    <button class="btn back-btn" (click)="goBack()">
      Retour à l’accueil
    </button>
  </div>
</div>
