<div class="background">
<div class="auth-container">
  <h2>Inscription</h2>
  <form (ngSubmit)="onSubmit()" #signUpForm="ngForm">
    <input
      type="text"
      name="name"
      [(ngModel)]="newUser.name"
      placeholder="Nom"
      required
    />
    <input
      type="text"
      name="login"
      [(ngModel)]="newUser.login"
      placeholder="Identifiant"
      required
    />
    <input
      type="password"
      name="password"
      [(ngModel)]="newUser.password"
      placeholder="Mot de passe"
      required
    />
    <button type="submit" [disabled]="!signUpForm.form.valid">S'inscrire</button>
  </form>
  <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
</div>
</div>