<div class="preview-container show-deck-modal" (click)="close.emit()">
  <h2>Deck : {{ deck.name }}</h2>
  <p class="deck-stats">
    Cartes : {{ deck.cards.length }}/5 | Valeur : {{ getTotalValue(deck) }}/30
  </p>
  
    <app-show-card
    *ngIf="hasCards"
    [selectedCard]="deck.cards[currentIndex]"
    [selectedDescription]="'Carte ' + (currentIndex + 1) + ' sur ' + deck.cards.length"
    (click)="$event.stopPropagation()"
    ></app-show-card>

    <div class="buttons" *ngIf="hasMultipleCards">
    <button class="btn" (click)="prevCard(); $event.stopPropagation()">◀ Précédente</button>
    <button class="btn" (click)="nextCard(); $event.stopPropagation()">Suivante ▶</button>
    </div>

  
    <div class="buttons">
      <button class="btn" (click)="close.emit(); $event.stopPropagation()">Fermer</button>
    </div>
  </div>
  