<div class="view-cards-container">
  
  <div class="list-container">
    <p class="dialog-text">Sélectionnez une carte à modifier :</p>
    <ul class="choices">
      <li
        *ngFor="let card of cards"
        (click)="selectCard(card)"
        [class.selected]="card.id === selectedCard?.id"
      >
        <span class="arrow">➤</span>
        <span class="label">{{ card.name }}</span>
      </li>
    </ul>
  </div>


  <div class="preview-container" *ngIf="selectedCard">
    <form (ngSubmit)="onSubmit()" #editForm="ngForm" class="edit-form">
      <div class="form-group">
        <label>Nom de la carte</label>
        <input
          name="name"
          required
          [(ngModel)]="selectedCard.name"
        />
      </div>
      <div class="form-group">
        <label>Valeur (0–20)</label>
        <input
          name="value"
          type="number"
          required
          min="0"
          max="20"
          [(ngModel)]="selectedCard.value"
        />
      </div>

      <button
        type="submit"
        [disabled]="
          !editForm.form.valid ||
          selectedCard.value! < 0 ||
          selectedCard.value! > 20
        "
      >
        Enregistrer
      </button>
    </form>

    <app-show-card
      *ngIf="isModalVisible && isCardUpdated && selectedCard"
      [selectedCard]="selectedCard"
      [selectedDescription]="selectedDescription"
      (click)="closeModal()"
      class="card-modal"
    ></app-show-card>
    <div
      class="modal-overlay"
      *ngIf="isModalVisible && isCardUpdated"
      (click)="closeModal()"
    ></div>
  </div>
</div>
