<div class="home-card-container play-wrapper" [class.modal-open]="showModal">


  <div class="scene">
    <div class="background"></div>
    <img
      *ngIf="flipped && showResult"
      src="/assets/images/characters/girl.png"
      alt="Fille"
      class="character"
    />
  </div>

  <div class="scoreboard">
    <span>Tour {{ currentRound > maxRounds ? maxRounds : currentRound }} / {{ maxRounds }}</span>
    <span>Toi : {{ userScore }}</span>
    <span>Adversaire : {{ opponentScore }}</span>
  </div>

  <div class="cards-grid">
    <div *ngFor="let c of cards" class="card" (click)="chooseCard(c)">
      <img [src]="'/assets/images/cards/card_' + c.value + '.png'" class="card-img" />
      <div class="card-value">{{ c.value }}</div>
    </div>
  </div>

  <div class="dialog-box" (click)="onDialogClick()">
    <div class="speaker-name">
      {{ showConfirmation ? 'Confirmation' : (chosenCard ? 'Adversaire' : 'Sélection') }}
    </div>
    <p class="dialog-text">
      <ng-container *ngIf="!chosenCard">
        Sélectionne une carte
      </ng-container>
      <ng-container *ngIf="chosenCard && !showConfirmation && !showModal">
        Clique pour révéler l’adversaire
      </ng-container>
      <ng-container *ngIf="showConfirmation">
        Êtes-vous sûr de vouloir choisir la carte  
        « {{ chosenCard?.name }} » à la valeur « {{ chosenCard?.value }} » ?
      </ng-container>
    </p>

    <ul class="choices" *ngIf="showConfirmation">
      <li (click)="confirmChoice(); $event.stopPropagation()">
        <span class="arrow">➤</span>
        <span class="label">Oui</span>
      </li>
      <li (click)="cancelChoice(); $event.stopPropagation()">
        <span class="arrow">➤</span>
        <span class="label">Non</span>
      </li>
    </ul>
  </div>

  <app-play-modal *ngIf="showModal" (close)="closeBattle()">
    <div class="battle-modal">
      <div class="card-view" [class.flipped]="flipped">
        <div class="card-sides">
          <div class="card-back">?</div>
          <div class="card-front">
            <img [src]="'/assets/images/cards/card_' + chosenCard?.value + '.png'" />
            <div class="card-value">{{ chosenCard?.value }}</div>
          </div>
        </div>
      </div>
      <div class="card-view opponent" [class.flipped]="flipped">
        <div class="card-sides">
          <div class="card-back">?</div>
          <div class="card-front">
            <img [src]="'/assets/images/cards/card_' + opponentCard?.value + '.png'" />
            <div class="card-value">{{ opponentCard?.value }}</div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="showResult" class="result">{{ resultMessage }}</div>
  </app-play-modal>

</div>
